body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('./assets/image.png') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    position: relative;
    bottom: 350px;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.badge {
    text-align: center;
    align-items: center;
    position: relative;
    bottom: 350px;
    background: rgba(255, 255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px 10px;
    border-radius: 10px;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

p {
    font-size: 1.5rem;
}

.movable {
    position: absolute;
    transition: left 2s linear, top 2s linear;
}

.hidden {
    display: none;
}

#qrcode {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: auto;
}